Repository Aiko-IT-Systems/DisCatSharp.Backup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

change config dependency stuff
  DisCatSharp.ApplicationCommands/ApplicationCommandsConfiguration.cs
  DisCatSharp.CommandsNext/CommandsNextConfiguration.cs
  DisCatSharp/DiscordConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: fix appcmd.Mention docs
  DisCatSharp/Entities/Application/DiscordApplicationCommand.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix(docs): embed
  DisCatSharp.Docs/articles/modules/audio/lavalink_v4/commands.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: wrong docs scripts
  DisCatSharp.Docs/dcs/public/docfx.min.css
  DisCatSharp.Docs/dcs/public/docfx.min.css.map
  DisCatSharp.Docs/dcs/public/docfx.min.js
  DisCatSharp.Docs/dcs/public/docfx.min.js.map
Owners: @Lulalaby

docs stuff
  DisCatSharp.Docs/dcs/public/docfx.min.js
  DisCatSharp.Docs/dcs/public/docfx.min.js.map
Owners: @Lulalaby

docs: add last modified
  DisCatSharp.Docs/api/DisCatSharp.ApplicationCommands/toc.yml
  DisCatSharp.Docs/api/DisCatSharp.Attributes/toc.yml
  DisCatSharp.Docs/api/DisCatSharp.Common/toc.yml
  DisCatSharp.Docs/api/DisCatSharp/toc.yml
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
  DisCatSharp.Docs/dcs/layout/_master.tmpl
  DisCatSharp.Docs/dcs/plugins/AITSYS.Docfx.LastModified.deps.json
  DisCatSharp.Docs/dcs/plugins/AITSYS.Docfx.LastModified.dll
  DisCatSharp.Docs/dcs/plugins/CsQuery.dll
  DisCatSharp.Docs/dcs/plugins/CustomMemberIndexer.deps.json
  DisCatSharp.Docs/dcs/plugins/CustomMemberIndexer.dll
  DisCatSharp.Docs/dcs/plugins/LICENSE.CsQuery.txt
  DisCatSharp.Docs/dcs/plugins/LICENSE.CustomMemberIndexer.md
  DisCatSharp.Docs/dcs/plugins/LibGit2Sharp.dll
  DisCatSharp.Docs/dcs/plugins/runtimes/linux-arm/native/libgit2-e632535.so
  DisCatSharp.Docs/dcs/plugins/runtimes/linux-arm64/native/libgit2-e632535.so
  DisCatSharp.Docs/dcs/plugins/runtimes/linux-musl-arm/native/libgit2-e632535.so
  DisCatSharp.Docs/dcs/plugins/runtimes/linux-musl-arm64/native/libgit2-e632535.so
  DisCatSharp.Docs/dcs/plugins/runtimes/linux-musl-x64/native/libgit2-e632535.so
  DisCatSharp.Docs/dcs/plugins/runtimes/linux-x64/native/libgit2-e632535.so
  DisCatSharp.Docs/dcs/plugins/runtimes/osx-arm64/native/libgit2-e632535.dylib
  DisCatSharp.Docs/dcs/plugins/runtimes/osx-x64/native/libgit2-e632535.dylib
  DisCatSharp.Docs/dcs/plugins/runtimes/win-arm64/native/git2-e632535.dll
  DisCatSharp.Docs/dcs/plugins/runtimes/win-x64/native/git2-e632535.dll
  DisCatSharp.Docs/dcs/plugins/runtimes/win-x86/native/git2-e632535.dll
  DisCatSharp.Docs/dcs/public/collapsible.css
  DisCatSharp.Docs/dcs/public/collapsible.js
  DisCatSharp.Docs/docfx.json
Owners: @Lulalaby, @Aiko-IT-Systems/discatsharp, @NyuwBot

feat: Custom status! (#345)
  DisCatSharp/Entities/User/DiscordActivity.cs
  DisCatSharp/Net/Abstractions/Transport/TransportActivity.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: allow custom status lib-side
  DisCatSharp/Entities/User/DiscordActivity.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update RELEASENOTES.md
  RELEASENOTES.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: DiscordEmoji.UnicodeEmoji
  DisCatSharp/Entities/Emoji/DiscordEmoji.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: supress ext ref marker for discord-components
  DisCatSharp.Docs/dcs/public/main.css
Owners: @Lulalaby

chore: json ignore
  DisCatSharp/Entities/Sticker/DiscordSticker.cs
  DisCatSharp/Entities/Sticker/DiscordStickerPack.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: permission UseClydeAi
  DisCatSharp/Enums/Guild/Permission.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: permission
  DisCatSharp/Enums/Guild/Permission.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix(DiscordThread): Unarchive unlocked instead
  DisCatSharp/Entities/Guild/ThreadAndForum/DiscordThreadChannel.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: fix code blocks
  DisCatSharp.Docs/articles/topics/logging/default.md
  DisCatSharp.Docs/articles/topics/logging/di.md
  DisCatSharp.Docs/articles/topics/logging/third_party.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: Microsoft.VisualStudio.SDK 17.7 is broken
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/DisCatSharp.Analyzer.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: voice channel status (#354)
  DisCatSharp.Docs/api/DisCatSharp/toc.yml
  DisCatSharp.Docs/api/toc.yml.fuck_it
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Clients/DiscordClient.Events.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Clients/DiscordShardedClient.Events.cs
  DisCatSharp/Clients/DiscordShardedClient.cs
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Enums/Discord/DiscordEvent.cs
  DisCatSharp/EventArgs/Channel/VoiceChannelStatusUpdateEventArgs.cs
  DisCatSharp/Net/Abstractions/Rest/RestChannelPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Owners: @Lulalaby, @Aiko-IT-Systems/discatsharp, @NyuwBot

feat: application command contexts
  DisCatSharp.ApplicationCommands/Attributes/ContextMenu/ContextMenuAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/SlashCommand/SlashCommandAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/SlashCommand/SlashCommandGroupAttribute.cs
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
  DisCatSharp.ApplicationCommands/Workers/ApplicationCommandWorker.cs
  DisCatSharp.ApplicationCommands/Workers/RegistrationWorker.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommand.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Enums/Application/ApplicationCommandContexts.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Models/ApplicationCommandEditModel.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: typos
  DisCatSharp.ApplicationCommands/Context/BaseContext.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: iframe modals
  DisCatSharp.ApplicationCommands/Context/BaseContext.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionApplicationCommandCallbackData.cs
  DisCatSharp/Enums/Interaction/IFrameModalSize.cs
  DisCatSharp/Enums/Interaction/InteractionResponseType.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: broken deps
  DisCatSharp.Docs/dcs/public/chunk-3GP2VSI3.min.js.map
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/DisCatSharp.Analyzer.csproj
Owners: @Lulalaby, @Aiko-IT-Systems/discatsharp, @NyuwBot

chore: rework premium apps
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Attributes/RequireEntitlement.cs
  DisCatSharp.ApplicationCommands/Context/AutocompleteContext.cs
  DisCatSharp.ApplicationCommands/Context/BaseContext.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionApplicationCommandCallbackData.cs
  DisCatSharp/Entities/Store/DiscordEntitlement.cs
  DisCatSharp/Enums/Application/ApplicationFlags.cs
  DisCatSharp/Enums/Interaction/IFrameModalSize.cs
  DisCatSharp/Enums/Interaction/InteractionResponseType.cs
  DisCatSharp/Enums/Store/SkuAccessType.cs
  DisCatSharp/Enums/Store/SkuFlags.cs
  DisCatSharp/Enums/Store/SkuType.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: get, create test & delete test entitlements
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Enums/Store/EntitlementOwnerType.cs
  DisCatSharp/Net/Abstractions/Rest/RestStorePayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: ignore certain api fields if wrongly casted by user
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/DiscordThreadChannel.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: gw events for entitlements
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Clients/DiscordClient.Events.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Clients/DiscordShardedClient.Events.cs
  DisCatSharp/Clients/DiscordShardedClient.cs
  DisCatSharp/Entities/Store/DiscordEntitlement.cs
  DisCatSharp/EventArgs/Store/EntitlementCreateEventArgs.cs
  DisCatSharp/EventArgs/Store/EntitlementDeleteEventArgs.cs
  DisCatSharp/EventArgs/Store/EntitlementUpdateEventArgs.cs
  README.md
  RELEASENOTES.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

fix: add missing events
  DisCatSharp/Enums/Discord/DiscordEvent.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: stuff :sparkles:
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Entities/OAuth2/DiscordAccessToken.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: lil things
  DisCatSharp/Clients/DiscordOAuth2Client.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: implement oauth2 client base
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Clients/DiscordWebhookClient.cs
  DisCatSharp/Entities/OAuth2/DiscordAccessTokenResponse.cs
  DisCatSharp/Entities/OAuth2/DiscordAuthorizationInformation.cs
  DisCatSharp/Logging/DefaultLoggerProvider.cs
  DisCatSharp/Net/Rest/BaseRestRequest.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
  DisCatSharp/Net/Rest/RestClient.cs
  DisCatSharp/Net/Rest/RestFormRequest.cs
  DisCatSharp/Utilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

moaaaar stuff
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommandLocalization.cs
  DisCatSharp/Entities/OAuth2/DiscordAccessToken.cs
  DisCatSharp/Entities/OAuth2/DiscordApplicationRoleConnection.cs
  DisCatSharp/Entities/OAuth2/DiscordAuthorizationInformation.cs
  DisCatSharp/Logging/DefaultLoggerProvider.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: buggy
  DisCatSharp/Logging/DefaultLoggerProvider.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

meow
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommandLocalization.cs
  DisCatSharp/Entities/OAuth2/DiscordApplicationRoleConnection.cs
  DisCatSharp/Entities/OAuth2/DiscordAuthorizationInformation.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix state generator
  DisCatSharp/Clients/DiscordOAuth2Client.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

nom
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Net/Abstractions/Rest/RestOAuth2ApplicationRoleConnectionPayload.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

finish most of oauth2 client
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Logging/DefaultLoggerFactory.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
  DisCatSharp/Net/Rest/RestClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: DiscordAccessToken.FromJson
  DisCatSharp/Entities/OAuth2/DiscordAccessToken.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: check access token for scopes
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

add revokation
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update DiscordOAuth2Client.cs
  DisCatSharp/Clients/DiscordOAuth2Client.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

/DisCatSharp.Common/ @Lulalaby
/DisCatSharp.Docs/dcs/ @Lulalaby
/DisCatSharp.Docs/docfx.json @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

#/DisCatSharp.Configuration/ @JBraunsmaJr
#/DisCatSharp.Configuration.Tests/ @JBraunsmaJr
#/DisCatSharp.Hosting/ @JBraunsmaJr
#/DisCatSharp.Hosting.DependencyInjection/ @JBraunsmaJr
#/DisCatSharp.Tests/ @JBraunsmaJr
