Repository Aiko-IT-Systems/DisCatSharp.Backup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

fix: net6
  DisCatSharp.ApplicationCommands/DisCatSharp.ApplicationCommands.csproj
  DisCatSharp.CommandsNext/DisCatSharp.CommandsNext.csproj
  DisCatSharp.Common/DisCatSharp.Common.csproj
  DisCatSharp.Configuration/DisCatSharp.Configuration.csproj
  DisCatSharp.Experimental/DisCatSharp.Experimental.csproj
  DisCatSharp.Hosting.DependencyInjection/DisCatSharp.Hosting.DependencyInjection.csproj
  DisCatSharp.Hosting/DisCatSharp.Hosting.csproj
  DisCatSharp.Interactivity/DisCatSharp.Interactivity.csproj
  DisCatSharp.Lavalink/DisCatSharp.Lavalink.csproj
  DisCatSharp.Targets/Library.targets
  DisCatSharp.VoiceNext.Natives/DisCatSharp.VoiceNext.Natives.csproj
  DisCatSharp.VoiceNext/DisCatSharp.VoiceNext.csproj
  DisCatSharp/DisCatSharp.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

fix: a
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix: codeql can build both
  .github/workflows/codeql-analysis.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix(actions): fix timeout time
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix(actions): time
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] add fossa
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

[ci skip] fix csproj nuget docs domain
  DisCatSharp.ApplicationCommands/DisCatSharp.ApplicationCommands.csproj
  DisCatSharp.CommandsNext/DisCatSharp.CommandsNext.csproj
  DisCatSharp.Interactivity/DisCatSharp.Interactivity.csproj
  DisCatSharp.Lavalink/DisCatSharp.Lavalink.csproj
  DisCatSharp.VoiceNext.Natives/DisCatSharp.VoiceNext.Natives.csproj
  DisCatSharp.VoiceNext/DisCatSharp.VoiceNext.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] oss footer
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

[ci skip] change project url to docs link
  DisCatSharp.Targets/DisCatSharp.targets
Owners: @Aiko-IT-Systems/aitsys-leader

chore: change version to 10.4.1
  DisCatSharp.Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

[ci skip] docs: update sponsers
  DisCatSharp.Docs/index.md
  README.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

chore!: drop old DiscordEmbedBuilder.AddField
  DisCatSharp/Entities/Embed/DiscordEmbedBuilder.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: instructions to enable roslyn analyzers in vcs
  DisCatSharp.Docs/vs/index.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: add rider tutorial for roslyn analyters
  DisCatSharp.Docs/vs/index.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Allow usage of BanMemberAsync with DiscordUser
  DisCatSharp/Entities/Guild/DiscordGuild.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] fix: docs tools
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix: master template
  DisCatSharp.Docs/dcs/layout/_master.tmpl
Owners: @Lulalaby

fix: again
  DisCatSharp.Docs/dcs/layout/_master.tmpl
Owners: @Lulalaby

Update _master.tmpl
  DisCatSharp.Docs/dcs/layout/_master.tmpl
Owners: @Lulalaby

[ci skip] fix
  DisCatSharp.Docs/dcs/layout/_master.tmpl
Owners: @Lulalaby

fix(docs): js problems
  DisCatSharp.Docs/dcs/layout/_master.tmpl
  DisCatSharp.Docs/dcs/public/main.js
Owners: @Lulalaby

fix name
  DisCatSharp.Docs/dcs/public/main.js
Owners: @Lulalaby

feat: integration - enable_emoticons
  DisCatSharp/Entities/Integration/DiscordIntegration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Add DiscordRole.Members
  DisCatSharp/Entities/Guild/DiscordRole.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

GetUserAsync: fetch if user is not in cache instead of returning empty user
  DisCatSharp/Clients/DiscordClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Add IsCommunicationDisabled to DiscordMember
  DisCatSharp/Entities/Guild/DiscordMember.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: move diagram up to tab panel
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: migrated default avatar is %6
  DisCatSharp/Entities/User/DiscordUser.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: spelling in license: NONINFRINGEMENT > NON-INFRINGEMENT
  .editorconfig
  DisCatSharp.ApplicationCommands/.editorconfig
  DisCatSharp.Attributes/.editorconfig
  DisCatSharp.Common/.editorconfig
  DisCatSharp.Configuration.Tests/.editorconfig
  DisCatSharp.Configuration/.editorconfig
  DisCatSharp.EventHandlers.Tests/.editorconfig
  DisCatSharp.Experimental/.editorconfig
  DisCatSharp.Hosting.DependencyInjection/.editorconfig
  DisCatSharp.Hosting.Tests/.editorconfig
  DisCatSharp.Hosting/.editorconfig
  DisCatSharp.Tools/.editorconfig
  LICENSE.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

fix: bug in webhookclient when discordclient not existing
  DisCatSharp/Clients/DiscordWebhookClient.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Serialization/DiscordJson.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: schemas
  DisCatSharp.Docs/docfx.toc.schema.json
  DisCatSharp.code-workspace
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: change version to 10.4.2
  DisCatSharp.Targets/Version.targets
Owners: @Aiko-IT-Systems/aitsys-leader

[ci skip] docs: link lavalink v4 beta release
  DisCatSharp.Docs/articles/modules/audio/lavalink_v4/setup.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: release note docs link
  RELEASENOTES.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: lavalink - load tracks with type on session
  DisCatSharp.Lavalink/LavalinkGuildPlayer.cs
  DisCatSharp.Lavalink/LavalinkSession.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: attachment flags
  DisCatSharp/Entities/Message/DiscordAttachment.cs
  DisCatSharp/Enums/Message/AttachmentFlags.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update README.md
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

fix: lavalink loadtracks json deserialize bug
  DisCatSharp.Lavalink/Entities/LavalinkTrackLoadingResult.cs
  DisCatSharp.Lavalink/LavalinkRestClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: forgot to make built-in queue play
  DisCatSharp.Lavalink/LavalinkGuildPlayer.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: queue system
  DisCatSharp.Lavalink/LavalinkGuildPlayer.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

/DisCatSharp.Common/ @Lulalaby
/DisCatSharp.Docs/dcs/ @Lulalaby
/DisCatSharp.Docs/docfx.json @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

#/DisCatSharp.Configuration/ @JBraunsmaJr
#/DisCatSharp.Configuration.Tests/ @JBraunsmaJr
#/DisCatSharp.Hosting/ @JBraunsmaJr
#/DisCatSharp.Hosting.DependencyInjection/ @JBraunsmaJr
#/DisCatSharp.Tests/ @JBraunsmaJr
