Repository Aiko-IT-Systems/DisCatSharp.Backup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

moar stuff
  DisCatSharp/Clients/DiscordOAuth2Client.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update RELEASENOTES.md
  RELEASENOTES.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: token revocation
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

update stuff
  DisCatSharp.ApplicationCommands/ApplicationCommandsConfiguration.cs
  DisCatSharp.Interactivity/InteractivityExtension.cs
  DisCatSharp.Targets/InternalsVisibleTo.targets
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

[ci skip] docs: add missing xml docs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: token revokation
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/RestClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: doa2c
  DisCatSharp/Clients/DiscordOAuth2Client.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: secure states
  DisCatSharp/Clients/DiscordOAuth2Client.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: naming
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Entities/RegisteredDiscordApplicationCommand.cs
  DisCatSharp/Clients/DiscordOAuth2Client.cs
  DisCatSharp/Entities/Store/DiscordEntitlement.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] docs: note how iframe path works
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: store stuff
  DisCatSharp/Entities/Store/DiscordEntitlement.cs
  DisCatSharp/Entities/Store/DiscordSku.cs
  DisCatSharp/Enums/Store/EntitlementType.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(renovate): ignore Microsoft.VisualStudio.SDK dep
  renovate.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: add jsonignore
  DisCatSharp/Entities/Emoji/DiscordEmoji.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: discord emoji nre
  DisCatSharp/Entities/Emoji/DiscordEmoji.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: hide channel_topic_update
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: extend oauth2 article
  DisCatSharp.Docs/articles/modules/oauth2/oauth2_client.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: store skus
  DisCatSharp/Entities/Store/DiscordEntitlement.cs
  DisCatSharp/Entities/Store/DiscordSku.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: Permissions
  DisCatSharp/Enums/Guild/Permission.cs
  DisCatSharp/Utilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: remove experiment/unreleased warnings for some permissions
  DisCatSharp/Enums/Guild/Permission.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: DiscordGuild IncidentsData (Security Actions)
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Guild/IncidentsData.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: incident actions (security actions) methods
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Guild/DiscordMember.cs
  DisCatSharp/Entities/Guild/IncidentsData.cs
  DisCatSharp/Net/Abstractions/Rest/RestGuildPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] Update renovate.json
  renovate.json
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: update template
  DisCatSharp.Docs/dcs/layout/_master.tmpl
  DisCatSharp.Docs/dcs/public/docfx.min.js
  DisCatSharp.Docs/dcs/public/docfx.min.js.map
  DisCatSharp.Docs/dcs/toc.json.js
  DisCatSharp.Docs/dcs/toc.json.tmpl
Owners: @Lulalaby

docs: Update faq for custom status
  DisCatSharp.Docs/articles/faq.md
  DisCatSharp.Docs/images/faq_01.png
  DisCatSharp.Docs/images/faq_02.png
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: ignore missing audit log stuff for now
  DisCatSharp/Entities/Guild/DiscordGuild.AuditLog.cs
  DisCatSharp/Enums/Guild/AuditLogActionType.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update DiscordGuild.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat!: new DisCatSharp.ApplicationCommands Attributes
  DisCatSharp.ApplicationCommands/Attributes/RequireGuildOwnerAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/RequireOwnerOrIdAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/RequireTeamAdmin.cs
  DisCatSharp.ApplicationCommands/Attributes/RequireTeamDeveloper.cs
  DisCatSharp.ApplicationCommands/Attributes/RequireTeamMember.cs
  DisCatSharp.ApplicationCommands/Attributes/RequireTeamOwner.cs
  DisCatSharp.ApplicationCommands/Attributes/RequireTeamReadOnly.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix!: rework attributes for app cmd
  DisCatSharp.ApplicationCommands/Attributes/ContextMenu/ContextMenuAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/SlashCommand/SlashCommandAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/SlashCommand/SlashCommandGroupAttribute.cs
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
  DisCatSharp.ApplicationCommands/Workers/ApplicationCommandWorker.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommand.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Enums/Application/ApplicationCommandIntegrationTypes.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Models/ApplicationCommandEditModel.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: Reworked application command equality check & registration
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
  DisCatSharp.ApplicationCommands/Workers/RegistrationWorker.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: pagination issues
  DisCatSharp.Interactivity/EventHandling/Components/PaginationButtons.cs
  DisCatSharp.Interactivity/Extensions/ChannelExtensions.cs
  DisCatSharp.Interactivity/Extensions/InteractionExtensions.cs
  DisCatSharp.Interactivity/InteractivityExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: nre for localizations
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: fix equal check for translations
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: revert embedded debug type
  DisCatSharp.Targets/NuGet.targets
Owners: @Aiko-IT-Systems/aitsys-leader

feat: default values for select menus
  DisCatSharp/Entities/Interaction/Components/Select/DiscordBaseSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordChannelSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordMentionableSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordRoleSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordSelectDefaultValue.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordUserSelectComponent.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): bump dotnet
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
  .github/workflows/internal-release.yml
  .github/workflows/release.yml
  DisCatSharp.ApplicationCommands/global.json
  DisCatSharp.Attributes/global.json
  DisCatSharp.CommandsNext/global.json
  DisCatSharp.Common/global.json
  DisCatSharp.Configuration.Tests/global.json
  DisCatSharp.Configuration/global.json
  DisCatSharp.EventHandlers.Tests/global.json
  DisCatSharp.Experimental/global.json
  DisCatSharp.Hosting.DependencyInjection/global.json
  DisCatSharp.Hosting.Tests/global.json
  DisCatSharp.Hosting/global.json
  DisCatSharp.Interactivity/global.json
  DisCatSharp.LavalinkV1/global.json
  DisCatSharp.VoiceNext.Natives/global.json
  DisCatSharp.VoiceNext/global.json
  DisCatSharp/global.json
  global.json
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

fix: != not == 🤦‍♀️
  DisCatSharp/Entities/Interaction/Components/Select/DiscordBaseSelectComponent.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: json screams
  DisCatSharp/Entities/Interaction/Components/Select/DiscordSelectDefaultValue.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: remove leftover file license headers
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.Common/Types/Serialization/IDecomposer.cs
  DisCatSharp.Common/Utilities/AsyncEvent/AsyncEventExceptionMode.cs
  DisCatSharp.Hosting.Tests/ExtensionTests.cs
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommandLocalization.cs
  DisCatSharp/Entities/Guild/ScheduledEvent/DiscordScheduledEvent.cs
  DisCatSharp/Entities/Guild/Widget/DiscordWidgetMember.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordMentionableSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordRoleSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordUserSelectComponent.cs
  DisCatSharp/Net/Abstractions/Gateway/GatewayPayload.cs
  DisCatSharp/Net/Abstractions/Rest/RestStorePayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update ApplicationCommandEqualityChecks.cs
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update README.md
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

/DisCatSharp.Common/ @Lulalaby
/DisCatSharp.Docs/dcs/ @Lulalaby
/DisCatSharp.Docs/docfx.json @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

#/DisCatSharp.Configuration/ @JBraunsmaJr
#/DisCatSharp.Configuration.Tests/ @JBraunsmaJr
#/DisCatSharp.Hosting/ @JBraunsmaJr
#/DisCatSharp.Hosting.DependencyInjection/ @JBraunsmaJr
#/DisCatSharp.Tests/ @JBraunsmaJr
