Repository Aiko-IT-Systems/DisCatSharp.Backup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

chore: docfx formatting
  DisCatSharp.Docs/docfx.json
Owners: @Lulalaby

feat: cf _redirects
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore: add note about new stuff in readme
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

h
  DisCatSharp.Docs/index.md
  README.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

REEE
  DisCatSharp.Docs/index.md
  README.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

feat: application command contexts
  DisCatSharp.Docs/api/DisCatSharp/toc.yml
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
  DisCatSharp/Enums/Application/ApplicationCommandContext.cs
Owners: @Lulalaby, @Aiko-IT-Systems/discatsharp, @NyuwBot

feat: add contexts, but commented out
  DisCatSharp/Entities/Application/DiscordApplicationCommand.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: flag extensions
  DisCatSharp/Enums/Application/ApplicationDiscoveryFlags.cs
  DisCatSharp/Enums/Channel/ChannelFlags.cs
  DisCatSharp/Enums/Guild/MemberFlags.cs
  DisCatSharp/Enums/Invite/InviteFlags.cs
  DisCatSharp/Enums/Store/SkuFlags.cs
  DisCatSharp/Enums/Voice/SpeakingFlags.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: i forgot
  DisCatSharp.Docs/api/DisCatSharp/toc.yml
Owners: @Lulalaby

a
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: formatting in changelog
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: missing license
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer.Package/DisCatSharp.Analyzer.Package.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: move files to correct folder
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
  DisCatSharp/Enums/Discord/ApiChannel.cs
  DisCatSharp/Enums/Discord/DiscordEvent.cs
  DisCatSharp/Enums/Discord/DiscordIntents.cs
  DisCatSharp/Enums/Discord/GatewayCompressionLevel.cs
  DisCatSharp/Enums/Discord/OAuth.cs
  DisCatSharp/Enums/Discord/TokenType.cs
  DisCatSharp/Enums/Guild/Permission.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] things
  DisCatSharp/ImageTool.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: wording
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: update intent xml docs
  DisCatSharp/Enums/Discord/DiscordIntents.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: try adding _redirects through build
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
  DisCatSharp.Docs/dcs/_redirects
  DisCatSharp.Docs/dcs/layout/_master.tmpl
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

update changelog
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

emoji powwaaaaaa
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix tab
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: remove - when using emoji
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: fix formatting
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

add more contributors
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

a
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: formatting
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: wording
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

aaaa
  DisCatSharp.ApplicationCommands/Attributes/RequireDisCatSharpDeveloperAttribute.cs
  DisCatSharp.CommandsNext/Attributes/RequireDisCatSharpDeveloperAttribute.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: css font update
  DisCatSharp.Docs/dcs/public/main.css
Owners: @Lulalaby

chore: formatting
  DisCatSharp.Docs/dcs/public/main.css
Owners: @Lulalaby

chore!: remove light mode
  DisCatSharp.Docs/dcs/public/main.css
Owners: @Lulalaby

Add guild_join_request_update
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Add guild_join_request_create, guild_join_request_delete
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: enable dm permission for context menu
  DisCatSharp.ApplicationCommands/Attributes/ContextMenu/ContextMenuAttribute.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: add fix
  DisCatSharp.Docs/changelogs/v10/10_4_0.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: codeql
  .github/workflows/codeql.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] limit build to 6 minutes
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix codeql again
  .github/workflows/codeql.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] Rename codeql.yml to codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

[ci skip] Update README.md
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

feat: re-enable net6.0
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
  .github/workflows/release.yml
  DisCatSharp.Targets/Library.targets
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

/DisCatSharp.Common/ @Lulalaby
/DisCatSharp.Docs/dcs/ @Lulalaby
/DisCatSharp.Docs/docfx.json @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

#/DisCatSharp.Configuration/ @JBraunsmaJr
#/DisCatSharp.Configuration.Tests/ @JBraunsmaJr
#/DisCatSharp.Hosting/ @JBraunsmaJr
#/DisCatSharp.Hosting.DependencyInjection/ @JBraunsmaJr
#/DisCatSharp.Tests/ @JBraunsmaJr
