Repository Aiko-IT-Systems/DisCatSharp.Backup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

/DisCatSharp.Common/ @Lulalaby
/DisCatSharp.Docs/dcs/ @Lulalaby
/DisCatSharp.Docs/docfx.json @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

#/DisCatSharp.Configuration/ @JBraunsmaJr
#/DisCatSharp.Configuration.Tests/ @JBraunsmaJr
#/DisCatSharp.Hosting/ @JBraunsmaJr
#/DisCatSharp.Hosting.DependencyInjection/ @JBraunsmaJr
#/DisCatSharp.Tests/ @JBraunsmaJr

add msg type 43
  DisCatSharp/Enums/Message/MessageType.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: avatar url endpoint in guild member
  DisCatSharp/EventArgs/Guild/Member/GuildMemberUpdateEventArgs.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

int
  DisCatSharp.VoiceNext/Codec/Interop.cs
  DisCatSharp/Clients/BaseDiscordClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: net8 support
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/internal-release.yml
  .github/workflows/release.yml
  DisCatSharp.ApplicationCommands/DisCatSharp.ApplicationCommands.csproj
  DisCatSharp.CommandsNext/DisCatSharp.CommandsNext.csproj
  DisCatSharp.Common/DisCatSharp.Common.csproj
  DisCatSharp.Configuration.Tests/DisCatSharp.Configuration.Tests.csproj
  DisCatSharp.Configuration/DisCatSharp.Configuration.csproj
  DisCatSharp.Hosting.DependencyInjection/DisCatSharp.Hosting.DependencyInjection.csproj
  DisCatSharp.Hosting.Tests/DisCatSharp.Hosting.Tests.csproj
  DisCatSharp.Hosting/DisCatSharp.Hosting.csproj
  DisCatSharp.Interactivity/DisCatSharp.Interactivity.csproj
  DisCatSharp.Lavalink/DisCatSharp.Lavalink.csproj
  DisCatSharp.LavalinkV1/DisCatSharp.LavalinkV1.csproj
  DisCatSharp.Targets/Library.targets
  DisCatSharp.VoiceNext.Natives/DisCatSharp.VoiceNext.Natives.csproj
  DisCatSharp.VoiceNext/DisCatSharp.VoiceNext.csproj
  DisCatSharp/DisCatSharp.csproj
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

chore(actions): bump net7 version
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
  .github/workflows/internal-release.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore(actions): multi net for docs
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

docs: add .net8 note
  DisCatSharp.Docs/articles/getting_started/first_bot.md
  README.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

chore: deprecate clyde perm
  DisCatSharp/Enums/Guild/Permission.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

make opus encoder/decoder public
  DisCatSharp.VoiceNext/Codec/Opus.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix
  DisCatSharp.VoiceNext/Codec/Opus.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Fix minor voiceNext issue (#396)
  .editorconfig
  DisCatSharp.VoiceNext.Natives/DisCatSharp.VoiceNext.Natives.csproj
  DisCatSharp.VoiceNext/VoiceNextConnection.cs
  DisCatSharp/Entities/User/DiscordUser.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

nom
  DisCatSharp.Targets/InternalsVisibleTo.targets
  DisCatSharp/Entities/Optional.cs
Owners: @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[Exp] feat: extend user apps capability
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Entities/Interaction/AuthorizingIntegrationOwners.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
  DisCatSharp/Entities/Interaction/InteractionCallbackHint.cs
  DisCatSharp/Enums/Application/ApplicationCommandContexts.cs
  DisCatSharp/Enums/Application/ApplicationCommandIntegrationTypes.cs
  DisCatSharp/Enums/Interaction/InteractionCallbackEphemerality.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[Exp] feat: allow default help for user apps
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[Exp] fix: updating app commands with context fails bcs missing integration types
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Workers/RegistrationWorker.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[Exp] feat: callback hint prep (not live)
  DisCatSharp/Entities/Interaction/DiscordInteractionCallbackHint.cs
  DisCatSharp/Entities/Interaction/InteractionCallbackHint.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[Exp] feat: callback hint prep (not live) part 2
  DisCatSharp/Entities/Interaction/DiscordCallbackHintBuilder.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionCallbackHint.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionModalBuilder.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionResponseBuilder.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] add todo
  DisCatSharp.ApplicationCommands/ApplicationCommandsConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci-skip] [Exp] fix: user apps stuff
  DisCatSharp/Entities/Interaction/DiscordFollowupMessageBuilder.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionModalBuilder.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionResponseBuilder.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): update dependencies
  DisCatSharp.ApplicationCommands/DisCatSharp.ApplicationCommands.csproj
  DisCatSharp.Attributes/DisCatSharp.Attributes.csproj
  DisCatSharp.CommandsNext/DisCatSharp.CommandsNext.csproj
  DisCatSharp.Common/DisCatSharp.Common.csproj
  DisCatSharp.Configuration/DisCatSharp.Configuration.csproj
  DisCatSharp.Experimental/DisCatSharp.Experimental.csproj
  DisCatSharp.Hosting.DependencyInjection/DisCatSharp.Hosting.DependencyInjection.csproj
  DisCatSharp.Hosting/DisCatSharp.Hosting.csproj
  DisCatSharp.Interactivity/DisCatSharp.Interactivity.csproj
  DisCatSharp.Lavalink/DisCatSharp.Lavalink.csproj
  DisCatSharp.Targets/NuGet.targets
  DisCatSharp.Tests/SafetyTests/DisCatSharp.SafetyTests.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer.Package/DisCatSharp.Analyzer.Package.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/DisCatSharp.Analyzer.csproj
  DisCatSharp.VoiceNext/DisCatSharp.VoiceNext.csproj
  DisCatSharp/DisCatSharp.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

feat: message.resolved
  DisCatSharp/Entities/Interaction/DiscordInteractionResolvedCollection.cs
  DisCatSharp/Entities/Message/DiscordMessage.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: in-app oauth gen, user install
  DisCatSharp/Clients/DiscordClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update EntitlementType.cs
  DisCatSharp/Enums/Store/EntitlementType.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: user apps capability on default app breaks prod bots without access
  DisCatSharp.ApplicationCommands/ApplicationCommandsConfiguration.cs
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update DiscordApplicationCommand.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommand.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: analyzer v6.2.0
  DisCatSharp.Experimental/DisCatSharp.Experimental.csproj
  DisCatSharp.Experimental/DisCatSharpExtensions.cs
  DisCatSharp.Experimental/GlobalSuppressions.cs
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer.Package/DisCatSharp.Analyzer.Package.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/AnalyzerReleases.Shipped.md
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/AttributeAnalyzer.cs
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/DisCatSharp.Analyzer.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/GlobalSuppressions.cs
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/Resources.Designer.cs
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/Resources.resx
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: userapps-only mode
  DisCatSharp.ApplicationCommands/ApplicationCommandsConfiguration.cs
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] todo
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: app cmd module not starting when app has no guilds
  DisCatSharp.ApplicationCommands/ApplicationCommandsConfiguration.cs
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/EventArgs/Guild/GuildDownloadCompletedEventArgs.cs
  DisCatSharp/Net/Abstractions/ReadyPayload.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: add applied tags to DiscordWebhookBuilder for ExecuteWebhook
  DisCatSharp/Entities/Webhook/DiscordWebhookBuilder.cs
  DisCatSharp/Net/Abstractions/Rest/RestWebhookPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix user cache nre
  DisCatSharp.CommandsNext/CommandsNextExtension.cs
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update ApplicationCommandsConfiguration.cs
  DisCatSharp.ApplicationCommands/ApplicationCommandsConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix(oauth2client): lower rsa key size from 4096 to 1024
  DisCatSharp/Clients/DiscordOAuth2Client.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix(oauth2client): increase rsa key size from 1024 to 2048
  DisCatSharp/Clients/DiscordOAuth2Client.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: cleanup duplicate csproj configs
  DisCatSharp.ApplicationCommands/DisCatSharp.ApplicationCommands.csproj
  DisCatSharp.CommandsNext/DisCatSharp.CommandsNext.csproj
  DisCatSharp.Common/DisCatSharp.Common.csproj
  DisCatSharp.Configuration/DisCatSharp.Configuration.csproj
  DisCatSharp.Experimental/DisCatSharp.Experimental.csproj
  DisCatSharp.Hosting.DependencyInjection/DisCatSharp.Hosting.DependencyInjection.csproj
  DisCatSharp.Hosting/DisCatSharp.Hosting.csproj
  DisCatSharp.Interactivity/DisCatSharp.Interactivity.csproj
  DisCatSharp.Lavalink/DisCatSharp.Lavalink.csproj
  DisCatSharp.Targets/Library.targets
  DisCatSharp.Targets/Package.targets
  DisCatSharp.VoiceNext.Natives/DisCatSharp.VoiceNext.Natives.csproj
  DisCatSharp.VoiceNext/DisCatSharp.VoiceNext.csproj
  DisCatSharp/DisCatSharp.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

nom
  DisCatSharp.Tools/DisCatSharp.Tools.sln
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat(actions): upload build artifact
  .github/workflows/build.yml
  .github/workflows/documentation_test.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix(actions): workflow fix
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix(actions): i am dumb
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update build.yml
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader
