Repository Aiko-IT-Systems/DisCatSharp.Backup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

docs: add note that queue entries needs to be constructed with new() for every entry
  DisCatSharp.Lavalink/LavalinkGuildPlayer.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix(actions): fix release script
  DisCatSharp.Tools/rebuild-lib.ps1
Owners: @Lulalaby

fix: lavalink
  DisCatSharp.Lavalink/Entities/LavalinkStats.cs
  DisCatSharp.Lavalink/LavalinkExtension.cs
  DisCatSharp.Lavalink/LavalinkSession.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: groups and subgroups now possible along side subcommands
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
  DisCatSharp.ApplicationCommands/Context/BaseContext.cs
  DisCatSharp.ApplicationCommands/Enums/ApplicationCommandFinalType.cs
  DisCatSharp.ApplicationCommands/Workers/ApplicationCommandWorker.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: make internal stuff internal + sealed
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/Interaction/DiscordFollowupMessageBuilder.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionResponseBuilder.cs
  DisCatSharp/Entities/Message/DiscordAttachment.cs
  DisCatSharp/Entities/Message/DiscordMessageBuilder.cs
  DisCatSharp/Entities/Message/DiscordMessageFile.cs
  DisCatSharp/Entities/Message/GcpAttachment.cs
  DisCatSharp/Entities/Webhook/DiscordWebhookBuilder.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Abstractions/Rest/RestForumPostTagPayloads.cs
  DisCatSharp/Net/Abstractions/Rest/RestGcpAttachmentsPayload.cs
  DisCatSharp/Net/Abstractions/Rest/RestGuildPayloads.cs
  DisCatSharp/Net/Abstractions/Rest/RestGuildScheduledEventPayloads.cs
  DisCatSharp/Net/Abstractions/Rest/RestStickerPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
  DisCatSharp/Net/Rest/MultipartWebRequest.cs
  DisCatSharp/Net/Rest/RestClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: fix links for ll
  DisCatSharp.Docs/articles/modules/audio/lavalink_v4/setup.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Fixed .TryGet methods to follow the out var pattern (#333)
  DisCatSharp/Clients/DiscordClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: update ll advanced
  DisCatSharp.Docs/articles/modules/audio/lavalink_v4/advanced.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

docs: bump ll plugin version
  DisCatSharp.Docs/articles/modules/audio/lavalink_v4/advanced.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] docs: update drac avatar
  DisCatSharp.Docs/dcs/layout/_master.tmpl
Owners: @Lulalaby

fix: Unset Permissions before setting them
  DisCatSharp/Entities/Channel/Overwrite/DiscordOverwriteBuilder.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

:)
  .github/workflows/build.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

chore(deps): update dependency dotnet-sdk to v7.0.306 (#336)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
  .github/workflows/internal-release.yml
  .github/workflows/release.yml
  DisCatSharp.ApplicationCommands/global.json
  DisCatSharp.Attributes/global.json
  DisCatSharp.CommandsNext/global.json
  DisCatSharp.Common/global.json
  DisCatSharp.Configuration.Tests/global.json
  DisCatSharp.Configuration/global.json
  DisCatSharp.EventHandlers.Tests/global.json
  DisCatSharp.Experimental/global.json
  DisCatSharp.Hosting.DependencyInjection/global.json
  DisCatSharp.Hosting.Tests/global.json
  DisCatSharp.Hosting/global.json
  DisCatSharp.Interactivity/global.json
  DisCatSharp.LavalinkV1/global.json
  DisCatSharp.VoiceNext.Natives/global.json
  DisCatSharp.VoiceNext/global.json
  DisCatSharp/global.json
  global.json
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

fix(actions): 6.x
  .github/workflows/codeql-analysis.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

feat!: modify current application
  DisCatSharp.Interactivity/Helpers/InteractivityHelpers.cs
  DisCatSharp/Clients/BaseDiscordClient.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Application/DiscordApplication.cs
  DisCatSharp/Entities/Application/DiscordApplicationInstallParams.cs
  DisCatSharp/Enums/Application/ApplicationFlags.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationPayloads.cs
  DisCatSharp/Net/Abstractions/Transport/TransportApplication.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] semver note
  CONTRIBUTING.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: implement missing fields
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/DiscordThreadResult.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: more features
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Guild/DiscordGuildInventorySettings.cs
  DisCatSharp/Net/Abstractions/Rest/RestGuildPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: add missing discord event enum
  DisCatSharp/Enums/Discord/DiscordEvent.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: things, idk yet
  Directory.Build.props
  DisCatSharp.Common/Types/CharSpanLookupReadOnlyDictionary.cs
  DisCatSharp.Tools/DisCatSharp.ruleset
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update DisCatSharp.ruleset
  DisCatSharp.Tools/DisCatSharp.ruleset
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: AccelerateBuildsInVisualStudio
  Directory.Build.props
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: Onboarding & Server Guide (#337)
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Guild/Onboarding/DiscordOnboarding.cs
  DisCatSharp/Entities/Guild/Onboarding/DiscordOnboardingPrompt.cs
  DisCatSharp/Entities/Guild/Onboarding/DiscordOnboardingPromptOption.cs
  DisCatSharp/Entities/Guild/Onboarding/DiscordServerGuide.cs
  DisCatSharp/Entities/Guild/Onboarding/NewMemberAction.cs
  DisCatSharp/Entities/Guild/Onboarding/ResourceChannel.cs
  DisCatSharp/Entities/Guild/Onboarding/WelcomeMessage.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
  DisCatSharp/Enums/Guild/Onboarding/NewMemberActionType.cs
  DisCatSharp/Enums/Guild/Onboarding/OnboardingMode.cs
  DisCatSharp/Enums/Guild/Onboarding/PromptType.cs
  DisCatSharp/Net/Abstractions/Rest/RestGuildPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: requires feature attribute analyzer
  DisCatSharp.ApplicationCommands/DisCatSharp.ApplicationCommands.csproj
  DisCatSharp.Attributes/DisCatSharp.Attributes.csproj
  DisCatSharp.Attributes/Features.cs
  DisCatSharp.Attributes/RequiresFeatureAttribute.cs
  DisCatSharp.CommandsNext/DisCatSharp.CommandsNext.csproj
  DisCatSharp.Common/DisCatSharp.Common.csproj
  DisCatSharp.Configuration.Tests/DisCatSharp.Configuration.Tests.csproj
  DisCatSharp.Configuration/DisCatSharp.Configuration.csproj
  DisCatSharp.Docs/vs/analyzer/dcs/0200.md
  DisCatSharp.Docs/vs/index.md
  DisCatSharp.Docs/vs/toc.yml
  DisCatSharp.Experimental/DisCatSharp.Experimental.csproj
  DisCatSharp.Hosting.DependencyInjection/DisCatSharp.Hosting.DependencyInjection.csproj
  DisCatSharp.Hosting.Tests/DisCatSharp.Hosting.Tests.csproj
  DisCatSharp.Hosting/DisCatSharp.Hosting.csproj
  DisCatSharp.Interactivity/DisCatSharp.Interactivity.csproj
  DisCatSharp.Lavalink/DisCatSharp.Lavalink.csproj
  DisCatSharp.Tools.sln
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer.Package/DisCatSharp.Analyzer.Package.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/AnalyzerReleases.Shipped.md
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/AttributeAnalyzer.cs
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/DisCatSharp.Analyzer.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/Resources.Designer.cs
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/Resources.resx
  DisCatSharp.VoiceNext.Natives/DisCatSharp.VoiceNext.Natives.csproj
  DisCatSharp.VoiceNext/DisCatSharp.VoiceNext.csproj
  DisCatSharp/DisCatSharp.csproj
  DisCatSharp/Entities/Guild/DiscordGuild.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update DiscordGuild.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: meta (#339)
  DisCatSharp.ApplicationCommands/DisCatSharp.ApplicationCommands.csproj.DotSettings
  DisCatSharp.Attributes/DisCatSharp.Attributes.csproj.DotSettings
  DisCatSharp.CommandsNext/DisCatSharp.CommandsNext.csproj.DotSettings
  DisCatSharp.Common/DisCatSharp.Common.csproj.DotSettings
  DisCatSharp.Interactivity/DisCatSharp.Interactivity.csproj.DotSettings
  DisCatSharp.Lavalink/DisCatSharp.Lavalink.csproj.DotSettings
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/DisCatSharp.Analyzer.csproj.DotSettings
  DisCatSharp.VoiceNext.Natives/DisCatSharp.VoiceNext.Natives.csproj.DotSettings
  DisCatSharp.VoiceNext/DisCatSharp.VoiceNext.csproj.DotSettings
  DisCatSharp/DisCatSharp.csproj.DotSettings
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: theme color
  DisCatSharp/Entities/Channel/DiscordChannel.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update README.md
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

Update RELEASENOTES.md
  RELEASENOTES.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: lavalink currenttrack is not null despite ended
  DisCatSharp.Lavalink/LavalinkGuildPlayer.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: use ConfigureAwait(false) for library code
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Attributes/RequireEntitlement.cs
  DisCatSharp.ApplicationCommands/Workers/ApplicationCommandWorker.cs
  DisCatSharp.ApplicationCommands/Workers/RegistrationWorker.cs
  DisCatSharp.CommandsNext/Attributes/RequireBoostingAttribute.cs
  DisCatSharp.CommandsNext/Attributes/RequireBotPermissionsAttribute.cs
  DisCatSharp.CommandsNext/Attributes/RequireGuildOwnerAttribute.cs
  DisCatSharp.CommandsNext/Attributes/RequireOwnerOrIdAttribute.cs
  DisCatSharp.CommandsNext/Attributes/RequirePermissionsAttribute.cs
  DisCatSharp.CommandsNext/Converters/EntityConverters.cs
  DisCatSharp.Interactivity/Extensions/InteractionExtensions.cs
  DisCatSharp.Interactivity/InteractivityExtension.cs
  DisCatSharp.Lavalink/LavalinkExtension.cs
  DisCatSharp.Lavalink/LavalinkGuildPlayer.cs
  DisCatSharp.Lavalink/LavalinkRestClient.cs
  DisCatSharp.Lavalink/LavalinkSession.cs
  DisCatSharp/Clients/BaseDiscordClient.cs
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Clients/DiscordShardedClient.cs
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/DCS/DisCatSharpTeam.cs
  DisCatSharp/Entities/Guild/Automod/AutomodRule.cs
  DisCatSharp/Entities/Guild/DiscordGuild.AuditLog.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Guild/DiscordMember.cs
  DisCatSharp/Entities/Guild/ScheduledEvent/DiscordScheduledEvent.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/DiscordThreadChannel.cs
  DisCatSharp/Entities/Message/DiscordMessage.cs
  DisCatSharp/Entities/User/DiscordUser.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: naming convention
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Attributes/ContextMenu/ContextMenuCooldownAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/SlashCommand/SlashCommandCooldownAttribute.cs
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
  DisCatSharp.ApplicationCommands/Entities/CooldownBucket.cs
  DisCatSharp.Lavalink/Entities/LavalinkTrack.cs
  DisCatSharp/Clients/DiscordClient.Events.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/DiscordConfiguration.cs
  DisCatSharp/Entities/Guild/DiscordGuild.AuditLog.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Guild/DiscordRole.cs
  DisCatSharp/Entities/Interaction/DiscordFollowupMessageBuilder.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionResponseBuilder.cs
  DisCatSharp/Entities/Message/DiscordMessage.cs
  DisCatSharp/Entities/ObservableApiObject.cs
  DisCatSharp/Entities/Sticker/DiscordSticker.cs
  DisCatSharp/Entities/Webhook/DiscordWebhookBuilder.cs
  DisCatSharp/Enums/Discord/ApiChannel.cs
  DisCatSharp/Exceptions/ExceptionFilter.cs
  DisCatSharp/GlobalSuppressions.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/RestClient.cs
  DisCatSharp/Net/Serialization/DiscordJson.cs
  DisCatSharp/Utilities.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore: supress
  DisCatSharp.Configuration.Tests/GlobalSuppressions.cs
  DisCatSharp.Hosting.Tests/GlobalSuppressions.cs
  DisCatSharp.Interactivity/GlobalSuppressions.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: additional properties for app command registered commands (#340)
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Entities/RegisteredDiscordApplicationCommand.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommand.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommandOption.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: queue entry
  DisCatSharp.Lavalink/Entities/IQueueEntry.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: fix sentry reported issues
  DisCatSharp/Entities/Application/DiscordApplicationCommand.cs
  DisCatSharp/Entities/Guild/DiscordMember.cs
  DisCatSharp/Entities/Guild/DiscordRole.cs
  DisCatSharp/Entities/Guild/ScheduledEvent/DiscordScheduledEvent.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/DiscordThreadChannel.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/DiscordThreadChannelMember.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
  DisCatSharp/Net/Abstractions/Transport/TransportMember.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update internal-release.yml
  .github/workflows/internal-release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update documentation_test.yml
  .github/workflows/documentation_test.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

/DisCatSharp.Common/ @Lulalaby
/DisCatSharp.Docs/dcs/ @Lulalaby
/DisCatSharp.Docs/docfx.json @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

#/DisCatSharp.Configuration/ @JBraunsmaJr
#/DisCatSharp.Configuration.Tests/ @JBraunsmaJr
#/DisCatSharp.Hosting/ @JBraunsmaJr
#/DisCatSharp.Hosting.DependencyInjection/ @JBraunsmaJr
#/DisCatSharp.Tests/ @JBraunsmaJr
