Repository Aiko-IT-Systems/DisCatSharp.Backup, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby, @Aiko-IT-Systems/aitsys-leader

fix!: remove privacy level from stage and scheduled event
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Guild/DiscordAuditLogObjects.cs
  DisCatSharp/Entities/Guild/DiscordGuild.AuditLog.cs
  DisCatSharp/Entities/Guild/ScheduledEvent/DiscordScheduledEvent.cs
  DisCatSharp/Entities/Guild/Stage/DiscordStageInstance.cs
  DisCatSharp/Enums/Guild/ScheduledEvent/ScheduledEventPrivacyLevel.cs
  DisCatSharp/Enums/Guild/Stage/.gitkeep
  DisCatSharp/Enums/Guild/Stage/StagePrivacyLevel.cs
  DisCatSharp/Net/Abstractions/AuditLogAbstractions.cs
  DisCatSharp/Net/Abstractions/Rest/RestGuildScheduledEventPayloads.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: bad request for scheduled events
  DisCatSharp/Net/Abstractions/Rest/RestGuildScheduledEventPayloads.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: possible fix for edit setting role icons
  DisCatSharp/Entities/Guild/DiscordRole.cs
  DisCatSharp/Net/Models/RoleEditModel.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update RELEASENOTES.md
  RELEASENOTES.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update RELEASENOTES.md
  RELEASENOTES.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: Identifier requires full uri for non-yt links (#374)
  DisCatSharp.Lavalink/LavalinkGuildPlayer.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: RunAnalyzersDuringBuild to false (#375)
  DisCatSharp.Targets/DisCatSharp.targets
Owners: @Aiko-IT-Systems/aitsys-leader

Create RequireAnyPermissionsAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/RequireAnyPermissionsAttribute.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat!: Avatar Decoration Data (#378)
  DisCatSharp.Configuration.Tests/DisCatSharp.Configuration.Tests.csproj
  DisCatSharp.EventHandlers.Tests/DisCatSharp.EventHandlers.Tests.csproj
  DisCatSharp.Hosting.Tests/DisCatSharp.Hosting.Tests.csproj
  DisCatSharp.Tests/SafetyTests/DisCatSharp.SafetyTests.csproj
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/DisCatSharp.csproj
  DisCatSharp/Entities/User/DiscordUser.cs
  DisCatSharp/Net/Abstractions/Transport/TransportUser.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] chore(readme): add sentry sponser info
  README.md
Owners: @Aiko-IT-Systems/aitsys-leader

fix(actions): pin docfx again..
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

fix: remove help command if not wanted (exp)
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: nre
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: wrong version
  .github/workflows/sentry.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update release.yml
  .github/workflows/release.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Update ARTICLES.md (#380)
  ARTICLES.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: Attachments NRE & missing JsonIgnore
  DisCatSharp/Entities/Message/DiscordAttachment.cs
  DisCatSharp/Entities/Message/DiscordMessage.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: member banner (experimental)
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: let users enable and use the PayloadReceived event
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Clients/DiscordClient.Events.cs
  DisCatSharp/DiscordConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: sentry fingerprint & typo in internal event handler
  DisCatSharp/Clients/BaseDiscordClient.cs
  DisCatSharp/Clients/DiscordShardedClient.Events.cs
  DisCatSharp/Clients/DiscordShardedClient.cs
  DisCatSharp/Net/Serialization/DiscordJson.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: improvement for premium apps
  DisCatSharp.ApplicationCommands/Attributes/RequireEntitlement.cs
  DisCatSharp.ApplicationCommands/Attributes/RequirePremiumAttribute.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/DiscordConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: missed to update
  DisCatSharp/Clients/DiscordClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

add product line
  DisCatSharp/Entities/Store/DiscordSku.cs
  DisCatSharp/Enums/Store/ProductLine.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update DiscordApiClient.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): bump dotnet to 7.0.403
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
  .github/workflows/internal-release.yml
  .github/workflows/release.yml
  DisCatSharp.ApplicationCommands/global.json
  DisCatSharp.Attributes/global.json
  DisCatSharp.CommandsNext/global.json
  DisCatSharp.Common/global.json
  DisCatSharp.Configuration.Tests/global.json
  DisCatSharp.Configuration/global.json
  DisCatSharp.EventHandlers.Tests/global.json
  DisCatSharp.Experimental/global.json
  DisCatSharp.Hosting.DependencyInjection/global.json
  DisCatSharp.Hosting.Tests/global.json
  DisCatSharp.Hosting/global.json
  DisCatSharp.Interactivity/global.json
  DisCatSharp.LavalinkV1/global.json
  DisCatSharp.VoiceNext.Natives/global.json
  DisCatSharp.VoiceNext/global.json
  DisCatSharp/global.json
  global.json
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader, @Aiko-IT-Systems/discatsharp

feat: DisCatSharp.Attributes Required Feature "MonetizedApplication"
  DisCatSharp.Attributes/Features.cs
  DisCatSharp.Tools/DisCatSharp.Analytics.VSIX/DisCatSharp.Analyzer.VSIX.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer.Package/DisCatSharp.Analyzer.Package.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/AnalyzerReleases.Shipped.md
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/DisCatSharp.Analyzer.csproj
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Create holopin.yml
  .github/holopin.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

release discatsharp attributes 10.4.3 & analyzer 6.1.0
  DisCatSharp.Attributes/DisCatSharp.Attributes.csproj
  DisCatSharp.Experimental/DisCatSharp.Experimental.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/DisCatSharp.Analyzer.csproj
  RELEASENOTES.md
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

chore(deps): bump DisCatSharp.Analyzer.Roselyn to 6.1.0
  DisCatSharp.ApplicationCommands/Attributes/RequirePremiumAttribute.cs
  DisCatSharp.ApplicationCommands/DisCatSharp.ApplicationCommands.csproj
  DisCatSharp.CommandsNext/DisCatSharp.CommandsNext.csproj
  DisCatSharp.Common/DisCatSharp.Common.csproj
  DisCatSharp.Configuration.Tests/DisCatSharp.Configuration.Tests.csproj
  DisCatSharp.Configuration/DisCatSharp.Configuration.csproj
  DisCatSharp.Experimental/DisCatSharp.Experimental.csproj
  DisCatSharp.Experimental/DisCatSharp.cs
  DisCatSharp.Hosting.DependencyInjection/DisCatSharp.Hosting.DependencyInjection.csproj
  DisCatSharp.Hosting.Tests/DisCatSharp.Hosting.Tests.csproj
  DisCatSharp.Hosting/DisCatSharp.Hosting.csproj
  DisCatSharp.Interactivity/DisCatSharp.Interactivity.csproj
  DisCatSharp.Lavalink/DisCatSharp.Lavalink.csproj
  DisCatSharp.VoiceNext.Natives/DisCatSharp.VoiceNext.Natives.csproj
  DisCatSharp.VoiceNext/DisCatSharp.VoiceNext.csproj
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/DisCatSharp.csproj
  DisCatSharp/DiscordConfiguration.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

[ci skip] docs: fix xmlref
  DisCatSharp.ApplicationCommands/Attributes/RequirePremiumAttribute.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: extend oauth generator
  DisCatSharp/Clients/DiscordClient.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

add message type 44
  DisCatSharp/Enums/Message/MessageType.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat!: flagsssssss
  DisCatSharp/Enums/Application/ApplicationDiscoverabilityState.cs
  DisCatSharp/Enums/Application/ApplicationDiscoveryEligibilityFlags.cs
  DisCatSharp/Enums/Application/ApplicationInteractionsVersion.cs
  DisCatSharp/Enums/Application/ApplicationMonetizationEligibilityFlags.cs
  DisCatSharp/Enums/Application/ApplicationMonetizationState.cs
  DisCatSharp/Enums/Application/ApplicationVerificationState.cs
  DisCatSharp/Enums/Application/ExplicitContentFilterLevel.cs
  DisCatSharp/Enums/Application/StoreApplicationState.cs
  DisCatSharp/Enums/Invite/InviteFlags.cs
  DisCatSharp/Enums/Message/AttachmentFlags.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat!: flagsssssss
  DisCatSharp/Enums/Application/ApplicationDiscoverabilityState.cs
  DisCatSharp/Enums/Application/ApplicationDiscoveryEligibilityFlags.cs
  DisCatSharp/Enums/Application/ApplicationInteractionsVersion.cs
  DisCatSharp/Enums/Application/ApplicationMonetizationEligibilityFlags.cs
  DisCatSharp/Enums/Application/ApplicationMonetizationState.cs
  DisCatSharp/Enums/Application/ApplicationVerificationState.cs
  DisCatSharp/Enums/Application/ExplicitContentFilterLevel.cs
  DisCatSharp/Enums/Application/StoreApplicationState.cs
  DisCatSharp/Enums/Invite/InviteFlags.cs
  DisCatSharp/Enums/Message/AttachmentFlags.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Update ApplicationFlags.cs
  DisCatSharp/Enums/Application/ApplicationFlags.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: open up voice server credentials
  DisCatSharp.Lavalink/Entities/LavalinkPlayer.cs
  DisCatSharp.Lavalink/Entities/LavalinkVoiceState.cs
  DisCatSharp/EventArgs/Voice/VoiceServerUpdateEventArgs.cs
  DisCatSharp/EventArgs/Voice/VoiceStateUpdateEventArgs.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

feat: clyde
  DisCatSharp.Attributes/Features.cs
  DisCatSharp.Experimental/DisCatSharp.cs
  DisCatSharp.Experimental/DisCatSharpExtensions.cs
  DisCatSharp.Experimental/DiscordApiClientHook.cs
  DisCatSharp.Experimental/Entities/Clyde/ClydeProfile.cs
  DisCatSharp.Experimental/Entities/Clyde/ClydeSettings.cs
  DisCatSharp.Experimental/Payloads/ClydeSettingsPayloads.cs
  DisCatSharp/Internals.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

fix: sentry fingerprint once again
  DisCatSharp/Net/Serialization/DiscordJson.cs
Owners: @Aiko-IT-Systems/discatsharp, @NyuwBot, @Lulalaby

Create create_diagram.yml
  .github/create_diagram.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

Rename .github/create_diagram.yml to .github/workflows/create_diagram.yml
  .github/workflows/create_diagram.yml
Owners: @Lulalaby, @NyuwBot, @Aiko-IT-Systems/aitsys-leader

.github/CODEOWNERS:

* @Aiko-IT-Systems/discatsharp @NyuwBot @Lulalaby

/DisCatSharp.Common/ @Lulalaby
/DisCatSharp.Docs/dcs/ @Lulalaby
/DisCatSharp.Docs/docfx.json @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

#/DisCatSharp.Configuration/ @JBraunsmaJr
#/DisCatSharp.Configuration.Tests/ @JBraunsmaJr
#/DisCatSharp.Hosting/ @JBraunsmaJr
#/DisCatSharp.Hosting.DependencyInjection/ @JBraunsmaJr
#/DisCatSharp.Tests/ @JBraunsmaJr
